/*
css\style.css
Folhas de estilo do template do site.
*/

/* importa fonte Robot do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset Geral*/

 * {
    box-sizing: border-box;
    outline: none;
}
/*Elemento raiz*/
html,
body {
   /* Reset nas margens e enchimentos */
   position: relative; /* permite usar height nos div */
   margin: 0;
   padding: 0;
   height: 100%;

/* Fonte padrao e tamanho */
     font-family: 'Lucida Sans','Lucida Sans Regular',  'Lucida Grande', 'Lucida Sans Unicode',  Geneva, Verdana, sans-serif;
    /*
    A linha acima ativa a unidade de medida "rem" onde:
     1rem=16px
     .5rem ou 0,5rem = 8px
     .25rem ou 0,25rem = 4px
     2rem=32px
     3rem= 48px
    */
 }

 /* Reset dos titulos e paragrafos 
 trocando margin por padding
 */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0;
   padding: .5rem;
 }

/* Padroniza links */
a {
   color:royalblue;
    text-decoration: none;
}

a:hover{
   color: rgb(102, 60, 86)
}

/*Tela de fundo*/
body{
  /* background: linear-gradient(to right, blue,red,cyan); */
  background-image: retro;url(img/retro-vhs-packaging-indoors.jpg);
  background-color: darkcyan;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* elemento Weap */
#wrap {
   max-width: 1080px;
   position: relative;
   height: 100%;
}
/* imagem responsiva */
.azul {
   width: auto;
   max-width: 100%;
   height: auto;
}


/* cabecalho da pagina */

/* header e filho direto de #wrap (>)
parente > direct-child */
#wrap > header {
   background-color: chocolate;
}

#wrap > header img {
   display: block;
   width: 90px;
   border-radius: ;
}

.logotitle{
   display: flex;
   align-items: center;
   gap: 1rem;
}